.main-editar {
  flex: 1;
  align-items: stretch;
  justify-content: flex-start;
  overflow-y: auto;
}
.body-editar {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.cabecera-editar {
  background-color: #EAEAEA;
  padding: 20px 40px;
  margin-top: 0px;
  font-size: 19px;
}
.formulario-editar {
    padding: 3% 25%;
 }

.datos-no-editables {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-bottom: 40px;
}

.formulario-grid {
  display: grid;
  gap: 15px; 
}

.campo-dato {
  display: grid;
  grid-template-columns: 80px auto; 
  align-items: center; 
  gap: 10px; 
}


.campo-dato input {
  padding: 8px;
  border: #656ED3 1px solid; 
  background-color: #F6F2F2;
  border-radius: 4px; 
}


.form-editar-perfil{
    padding-left: 105px;
}

.form-editar-perfil div{
    display: flex;
    align-items: flex-start;
}
.form-editar-perfil div input{
    width: 300px;
    padding: 8px;
    margin-bottom: 15px;
    border: #656ED3 1px solid;
    border-radius: 15px;
}
.form-editar-perfil div img {
    margin-top: 5px;
    margin-left: 10px;
    
}

.botones-editar-perfil {
    display: flex;
    flex-direction: row;
    gap: 110px;
    margin-top: 30px;
}

.botones-editar-perfil button {
    padding: 8px 28px;
    border: none;
    border-radius: 10px;
    background-color: #00871D;
    color: white;
    cursor: pointer;
}
.botones-editar-perfil button:first-child {
    background-color: #848484;
}