.body-mis-reportes {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.main-mis-reportes {
  flex: 1;
  align-items: stretch;
  justify-content: flex-start;
  overflow-y: auto;
}
.cabecera-mis-reportes {
  background-color: #EAEAEA;
  padding: 20px 40px;
  margin-top: 0px;
  font-size: 19px;
}

.lista-reportes {
    align-self: center;
    margin-top: 30px;
    width: 70%;
}
.lista-reportes ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
}

.lista-reportes ul li {
    list-style: none;
    border: none;
    border-radius: 8px;
    padding: 15px;
    background-color: #EAEAEA;
    font-size: 11px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-reporte {
    display: grid;
    grid-template-columns: 230px 50%;
    grid-template-rows: auto auto auto;
    font-family: Inter;

}
.info-reporte h2{
    grid-row: 1;
    grid-column: 1;
}
.info-reporte p:nth-of-type(1){
    grid-row: 2;
    grid-column: 1;
}
.info-reporte p:nth-of-type(2){
    grid-row: 2;
    grid-column: 2;
}
.info-reporte p:nth-of-type(3) {
    grid-row: 3;
    grid-column: 1;
}


.estado-reporte p{
    text-align: center;
    background-color: #59DC75;
    color: black;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 20px;
    width: 50px;
}

.estado-reporte button {
    text-align: center;
    background-color: #00871D;
    color: white;
    border: none;
    font-size: 13px;
    border-radius: 10px;
    padding: 1px 30px;
    cursor: pointer;
}