.body-nuevo-reporte {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}
.main-nuevo-reporte {
  flex: 1;
  overflow-y: auto;
    align-items: stretch;
    justify-content: flex-start;
}

.cabecera-nuevo-reporte {
  background-color: #EAEAEA;
  padding: 20px 40px;
  margin-top: 0px;
  font-size: 19px;
}

.terminos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 20%;
    max-width: 800px;
}

.terminos h2 {
    font-family: Playfair Display;
    color: #005813;
    font-size: 34px;
}

.terminos article {
    background-color: #D9D9D9;
    padding: 10px 25px;
    font-family: Inter;
    font-size: 16px;
}

.aceptar-terminos {
    align-self: flex-start;
    margin: 10px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.botones-terminos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.botones-terminos button {
    width: 120px;
    height: 35px;
    background-color: #00871D;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.botones-terminos button:first-child {
    background-color: #848484;
}