body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Estilos para la cabecera */
.page-header {
    background-color: #ffffff;
    height: 80px;
    padding: 0px 20px;
    text-align: center;
}
.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-index img {
    height: 74;
    width: 195px;
}

.barra-navegacion ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.barra-navegacion ul li a {
    text-decoration: none;

}

.boton-inicio {
    font-weight: bold;
    color: black;
}
.boton-nosotros {
    color: #00871D;
}
.boton-login {
    background-color: #00871D;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 10px;
}
/* Estilos para el contenido principal */
main {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Estilos para el mapa */
.mapa-seccion {
    width: 100%;
    padding: 30px 0px;
    background-color: #ACFFBE;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mapa-seccion iframe {
    width: 1000px;
    height: 500px;
    border: none;
}

/* Estilos para el carrusel de incidentes */
.carrusel-seccion {
    width: 100%;
    height: 442;
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.carrusel-seccion article {
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.incidente-card-1 {
    width: 275px;
    height: 290px;
    background-color: #ACFFBE;
    opacity: 50%;
    
}
.incidente-card-2 {
    width: 324px;
    height: 336px;
    background-color: #ACFFBE;
}
.incidente-card-3 {
    width: 275px;
    height: 290px;
    background-color: #ACFFBE;
    opacity: 50%;
}
.carrusel-seccion article h3 {
    margin: 0px 0px;
    font-size: 24px;
    font-weight: bold;
    font-family: Source Serif Pro;
}
.incidente-card__ubicacion {
    margin: 0px 0px;
    font-size: 16px;
    font-family: Source Serif Pro;
    margin-bottom: 15px;
}
.carrusel-seccion article img {
    width: 95%;
    height: 180px;
}

.incidente-card__info {
    font-size: 12px;
    width: 95%;
}

.card-info__header {
    display: flex;              
    justify-content: space-between; 
    width: 100%;               
    margin-bottom: 5px;         
}

.card-info__obs p {
    font-size: 12px; 
    margin-top: 5px;
}

/* Estilos para la sección de estadísticas */

.estadistica-lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 170px;
    justify-content: center;
    align-items: center;
    font-family: Playfair Display;
}
.estadistica-lista li {
    width: 250px;
}
.stat-item img {
    vertical-align: middle;
    display: inline-block;
}
.stat-item__numero {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 62px;
    font-weight: bold;
    color: #00871D;
}
.stat-item__titulo {
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    color: #014C11;
}

.stat-item__subtitulo{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 18px;
    width: 175px;
    color: #014C11;
}

.stat-item__grafico{
    --p: 75%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: conic-gradient(#00871D var(--p), #dcdcdc 0); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 67px;
    font-weight: bold;
    color: #000;
    margin-left: 45px;
}

